/*
--- INSTRUCTIONS ---
This is to be used as the basis for creating the config.json - it is NOT a valid
JSON file as is (comments are not allowed).
To create a valid config.json  file do the following:
	1) Create an empty file named config.json in the working directory.
	2) Set up the fields to the correct values
	streets - list of TSIDs to be read (NB last TSID must not have trailing comma)
	use_vagrant_dirs - set to true if the street/item JSON files are on a PC version of Eleven
					 - set to false if using the QA server/persdata
    server - set up the hostname, port, username and password for server. 
	fixtures_path - set to path for eleven-fixtures 
	persdata_path - set to path for eleven-throwaway-server/persdata 
	street_snap_path - set to path containing all the archive street snaps for these streets
	output_file - set to path/name of file which contain a summary of all the changes made by this tool. 
	non_quoin_search_radius - defaulted to 50 pixels. Making the number smaller will speed up the searches, but may miss items which are almost in the right place
	quoin_search_radius - Set this to less than 50 (e.g. 20) - useful for clustered groups of quoins so have a better chance of working out which quoin goes where.
	change_xy_only - the tool will only change the x,y values in the item files (useful if street has already been QA'd)
	3) Copy and paste everything inside/including braces to new file. There must NOT be a trailing comma
		after the final section.
	4) Using a json validator (there are a number online) may be helpful after editing.
*/
// Copy everything from below this line into your config.json
{
  "streets": [
	{"tsid": "LHV4U509S9B2MRV"}
  ],
  "use_vagrant_dirs": true,
  "vagrant_info": {
	"fixtures_path": "C:\\Glitch\\eleven\\eleven-fixtures",
	"persdata_path": "C:\\Glitch\\eleven\\eleven-throwaway-server\\persdata"
  },
  "server_info": {
  	"host": "",
	"port": "",
    "username": "",
    "password": "",
	"server_dirs": {
		"fixtures_path": "",
		"persdata_path": ""
	}
  },
  "street_snap_path": "C:\\Glitch\\QA2\\StreetSnapsArchive\\Groddle Forest",
  "output_file": "C:\\Glitch\\QA2\\region.txt",
  "non_quoin_search_radius": 50,
  "quoin_search_radius": 20,
  "change_xy_only": false
} 